@import url('https://bootswatch.com/5/flatly/bootstrap.min.css');

.navbar{
 display: flex;
justify-content: space-around;
}

.card {
    display: flex;
    justify-content: space-around;
}

div,#contenerdor {
display: flex;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 300px;
}